body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-bday {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-party:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTlxZjlyMTZqdTd1YXJjNjY5MnA2eWM2Yml4emxsZWNxdWowZWxmYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/duNowzaVje6Di3hnOu/giphy.gif");
}

#gift-img-awesome:hover {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExams2d25nMXkwOHlmN3dzYzg0b2ZrdXlva2xmZzh0bXVlbHUzaHhlcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/PaSnUZW1EeypulsOwd/giphy.gif");
}

#gift-img-person:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjRnZDA0Z3FlZ3pzc3c5bGl0NDloMXpqdHV2cm1qazB2aDN5Nnh5NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Xgm5k3TOtUlXkgpt8v/giphy.gif");
}

#gift-img-bday:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExejR5MW9qbDJiNnhrYzdvMzgwMWl0OHd0ZWJqb3lrajh1ZmxwaGZzbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Xw3pnKSKhcH7ozPozR/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/